NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=ey...
GOOGLE_GENERATIVE_AI_API_KEY="AIzaSyC5twf-EQfObCAXcxJeSW-jyEfpHAIaKqw"
NEXT_PUBLIC_SUPABASE_KEY=""
NX_DAEMON="false"
SUPABASE_JWT_SECRET="PMRlq3X3....."
SUPABASE_POSTGRES_DATABASE="postgres"
SUPABASE_POSTGRES_HOST="db.<>.supabase.co"
SUPABASE_POSTGRES_PASSWORD="<password>"
SUPABASE_POSTGRES_PRISMA_URL="postgres://postgres.<>:<>@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
SUPABASE_POSTGRES_URL="postgres://postgres.<>:<password>@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
SUPABASE_POSTGRES_URL_NON_POOLING="postgres://postgres.<>:<password>@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"
SUPABASE_POSTGRES_USER="postgres"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZmcGZhcGRubm9hc3F2ZWhjZGZmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTM3OTcwOSwiZXhwIjoyMDc2OTU1NzA5fQ.2XBMom7wY6cFm0l_MdAvzgKZa81glDFYq4fu_OIVp00"
SUPABASE_URL="https://<>.supabase.co"